*.swp

*.o
*.a

.idea

# Executable files and intermediate file
Make.defines
config.h
config.log
config.status
intro/byteorder
intro/daytimetcpcli
intro/daytimetcpcli1
intro/daytimetcpcli2
intro/daytimetcpcli3
intro/daytimetcpcliv6
intro/daytimetcpsrv
intro/daytimetcpsrv1
intro/daytimetcpsrv2
intro/daytimetcpsrv3
intro/daytimetcpsrvv6
exercises/3_3
exercises/4_2
tcpcliserv/tcpcli01
tcpcliserv/tcpcli04
tcpcliserv/tcpcli05
tcpcliserv/tcpcli06
tcpcliserv/tcpcli07
tcpcliserv/tcpcli08
tcpcliserv/tcpcli09
tcpcliserv/tcpcli10
tcpcliserv/tcpserv01
tcpcliserv/tcpserv02
tcpcliserv/tcpserv03
tcpcliserv/tcpserv04
tcpcliserv/tcpserv08
tcpcliserv/tcpserv09
tcpcliserv/tcpservpoll01
tcpcliserv/tcpservselect01
tcpcliserv/tsigpipe
